<input #x type="text">
<button (click)="addToDo(x.value)">add</button>

@if (todoes().length > 0) {
    <ul>
        @for (todo of todoes(); track todo.id) {
            <li>
                <span>{{todo.id}}</span>
                <span>{{todo.title}}</span>
                <button (click)="remove(todo.id)">x</button>
            </li>
        }
    </ul>
} @else {
    <span>no data</span>
}

<hr>
<p>Computed signals</p>
<ul>
  @for (x of todoesComputed(); track null) {
    <li>{{x.title}}</li>
  }
</ul>

<span>total {{total()}}</span>

<!-- <span>{{names()}}</span> -->
